body {
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

/* flexbox */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction:column;
}

.space_between {
    justify-content: space-between;
}


.container {
    width: 320px;
    margin: auto;
    box-shadow: 2px 5px 10px black;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
}

.margin_top {
    margin-top: 120px;
}

.main_container {
    margin: 20px;
    padding: 0;
    justify-content: left;
}

/* main image div */
#equ_image {
    height: 280px;
    border-radius: 3%;
    padding: 0;
    margin-top: 20px;
}

.head1 {
    color: white;
}

.head1 h3 {
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
}

.p p {
    margin: 0;
    padding: 0;
    color: hsl(215, 51%, 70%);
    font-weight: 600;
}

/* eth days left div */
.eth_day_div {
    margin-top: 7px;
}

.eth_para {
    color: hsl(178, 100%, 50%);
    padding: 0;
    margin: 0%;
    font-weight: 600;
    font-size: 14px;
}

.eth_icon {
    margin-bottom: -3px;
    padding-right: 4px;
    height: 15px;
}

.day_left {
    margin: 0%;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(215, 51%, 70%);
}

/* hr */
hr {
    width: 100%;
    border: 0.5px solid hsl(215, 48%, 84%);
    /* border: none; */
}

/* avatar img */
.avatar_img {
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.avatar_img_para {
    padding: 0 10px 10px 15px;
    margin: 5px 0 0 0;
    font-size: 14px;
    font-weight: 600;
    color: hsl(215, 51%, 70%);
    letter-spacing: 1px;
}

.avatar_img_div {
    margin-top: 8px;
    margin-bottom: 22px;
}

.noTextDecoration {
    text-decoration: none;
}

.colorWhite {
    color: white;
}

.line::after {
    content: '';
    background-color: rgba(139,172,218,0.1);
    height: 0.09px;
    width: 280px;
    position: absolute;
}

.line_margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding_top {
    padding-top: 100px;
}

.attribution { 
    font-size: 14px; 
    text-align: center; 
    color: hsl(0, 0%, 100%); 
}

.linkAtEnd {
    color: hsl(178, 100%, 50%);
}

.linkAtEnd:hover {
    text-decoration: none;
}

.hover1:hover {
    color: hsl(178, 100%, 50%);
}

.hover2:hover {
    background-color: hsl(178, 100%, 50%);
}

.content .content-overlay {
    background: hsl(178, 100%, 50%);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  } */
  
  .content:hover .content-overlay{
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
